body {
  padding-top: 56px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header h1{
	font-size:70px;
	letter-spacing:1px;
	color:#ffffff;
	opacity: 0.8;
	padding-top:140px;
}
header p{
	margin: 0px;
	color: #ffffff;
	letter-spacing: 1px;
}



